body {
    color: #000;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #2095ae;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 1rem;
    position: relative;
}

a:link {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}